*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "stencil";
}

header{
    height: 20%;
    width: 100%;
}

div{
    display: inline;
}

img{
    display: inline;
}

nav{
    display: inline;
    width: 10%;
    height: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

nav ul{
    position: relative;
    display: inline;
    width: 100%;
    height: 100%;
    top: 2%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
    margin-left: 4%;
    margin-right: 4%;
}

.links{
    height: 60px;
    top: auto;
}

#findme{
    margin-left: 0;
}

#hitmeup{
    margin-right: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

main{
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

main a{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main img{
    width: 100%;
}

.events{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#menu{
    display: block;
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px){
    
}